@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98.04%;
    --foreground: 224 71.43% 4.12%;
    --muted: 235 11% 89%;
    --muted-foreground: 235 2% 40%;
    --popover: 0 0% 100%;
    --popover-foreground: 115 54% 1%;
    --card: 0 0% 100%;
    --card-foreground: 115 54% 1%;
    --border: 240 5.88% 90%;
    --input: 240 5.88% 90%;
    --primary: 243.4 75.36% 58.63%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.08%;
    --secondary-foreground: 0 0% 0%;
    --accent: 210 40% 96.08%;
    --accent-foreground: 0 0% 0%;
    --destructive: 12 96% 39%;
    --destructive-foreground: 0 0% 100%;
    --ring: 243.4 75.36% 58.63%;
  }

  .dark:root {
    --background: 224 71.43% 4.12%;
    --foreground: 115 13% 100%;
    --muted: 235 11% 11%;
    --muted-foreground: 235 2% 60%;
    --popover: 240 5.88% 10%;
    --popover-foreground: 115 13% 100%;
    --card: 240 5.88% 10%;
    --card-foreground: 115 13% 100%;
    --border: 217.24 32.58% 17.45%;
    --input: 60 0.44% 44.12%;
    --primary: 234.45 89.47% 73.92%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217.24 32.58% 17.45%;
    --secondary-foreground: 0 0% 100%;
    --accent: 355 28% 17%;
    --accent-foreground: 355 28% 77%;
    --destructive: 12 96% 58%;
    --destructive-foreground: 0 0% 100%;
    --ring: 234.45 89.47% 73.92%;
  }
}
